.App {
	text-align: center;
	margin: 0;
	height: 100%;
}

.App-Notebook {
	font-family: var(--notebook-font);
	color: var(--notebook-color);
}

.App-Pastel {
	background-color: var(--pastel-background-color);
	color: var(--pastel-text-color);
	font-family: var(--pastel-font);
	opacity: var(--pastel-opacity);
}
