.Button-Notebook {
	font-family: var(--notebook-font);
	font-size: 25px;
}

.Button-Pastel {
	background-color: white;
	border-color: var(--pastel-color);
	border-radius: var(--pastel-border-radius);
    border-width: var(--pastel-border-width);
	font-family: var(--pastel-font);
	font-size: 15px;
	padding: 10px;
}

.Button-Pastel:hover {
    color: var(--pastel-highlight-color);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}