.RecipeList {
	margin: auto;
	width: 75%;
	padding-bottom: 30px;
}

.RecipeList-Notebook {
}

.RecipeList-Pastel {
	margin-top: 50px;
	background-color: white;
	border-color: var(--pastel-color);
	border-radius: var(--pastel-border-radius);
	border-style: solid;
	border-width: var(--pastel-border-width);
}
