{
  "Auth": {
    "Cognito": {
      "userPoolClientId": "{user_pool_web_client_id}",
      "userPoolId": "{user_pool_id}",
      "passwordFormat": {
        "minLength": 8,
        "requireLowercase": true,
        "requireUppercase": true,
        "requireNumbers": true,
        "requireSpecialCharacters": true
      }
    }
  },
  "API": {
    "REST": {
      "ToadInTheHoleAPI": {
        "endpoint": "{api_endpoint}",
        "region": "{region}"
      }
    }
  }
}
