.Button-Notebook {
	font-family: var(--notebook-font);
	font-size: 25px;
}

.Button-Pastel {
	font-family: var(--pastel-font);
	border-color: var(--pastel-color);
	background-color: white;
	color: var(--pastel-color);
	padding: 10px;
	font-size: 15px;
}
