.NewRecipeButton-Notebook {
}

.NewRecipeButton-Pastel {
	font-family: var(--pastel-font);
	color: var(--pastel-color);
	background-color: white;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right-width: 1px;
	font-size: 15px;
}

.NewRecipeButton-Pastel:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
